body {
    font-family: 'Rock Salt', cursive;
}

header {
    background-color: black;
}

.cabecalho {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

h1 img {
    width: 20%;
}

nav {
    position: absolute;
    top: 120px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 0.5s all;
}

nav a:hover {
    color: darkred;
    font-size: 2em;
    text-decoration: underline;
}

nav a:active {
    color: darkred;
    font-size: 2em;
    text-decoration: underline;
}

.secao-principal {
    width: 100%;
    float: left;
    color: black;
    text-shadow: 2px 2px #ffffff;
}

.div-imagem-principal {
    background-image: url(Pics/bg-2.jpg);
    background-position: center center;
    width: 50%;
    height: 534px;
    float: right;
}

.imagem-principal {
    width: 100%;
    float: right;
    transition: 1200ms;
    
}

.imagem-principal:hover {
    transform: rotatey(90deg);
}

.setor-esquerdo {
    width: 50%;
    height: 534px;
    float: left;
    background-image: url(Pics/guitarra-background.jpg);
    background-attachment: fixed;
}

.titulo-secao-principal {
    font-size: 2em;
    text-align: center;
    margin: 150px auto;
}

.secao-principal p {
    font-size: 18px;
    text-align: center;
    margin: 40px 20px;
}

footer {
    text-align: center;
    background-image: url(Pics/bg.jpg);
}

footer img {
    width: 150px;
    text-align: center;
    padding: 50px 0 30px 0;
}

.copyright {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;    
    color: #ffffff;
    font-size: 13px;
    padding: 0 0 30px 0;
    margin: 20px 0 0;
}

.galeria-videos {
    display: grid;
    grid-gap: 0.6rem;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    padding: 20px 20px 80px 20px;
}

.titulo-galeria {
    color: black;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 3em;
}

.secao-formulario {
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
    grid-template-columns: 49.5% 49.5%;
}

form label, form legend {
    display: block;
    font-size: 25px;
    margin: 0.5em 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    width: 500px;
    padding: 0.5em;
}

.formulario-contato {
    display: block;
    margin: 50px auto;
    padding: 10px 25px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    margin: 1em 0;
    background-color: black;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    width: 100%;
    background-color: darkred;
}

.midias h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 50px auto 15px auto;
}

.cards-midia {
    text-align: center;
    margin: 20px 20px;
    padding: 50px 20px;    
}

.cards-midia li {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 20px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    transition: 0.5s all;
}

.cards-midia li:hover {
    width: 40%;
    background-color: darkred;
    border: 3px solid darkred;
}

.midias p {
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding: 1em 0;
}

.midias a {
    font-size: 0.7em;
    color: #000000;
}

.midia-contato {
    text-align: center;
    margin-top: 2em;
}

.logo {
    width: 20%;
    margin: 0.5em auto;
}